body {
    /*
        turn off anti-aliasing (on all browsers), all
        used images are considered pixel art.
    */
    image-rendering: pixelated;
}

#board {
    width: fit-content;
    height: fit-content;

    background-color: #bdbdbd;

    border-style: solid;
    border-width: 3px;
    border-color: white gray gray white;
    
    padding: 6px;
    display: flex;
    flex-direction: column;
}

/* top */

#top {
    height: fit-content;
    flex-grow: 1;
    justify-content: space-between;

    background-color: #bdbdbd;
    
    border-style: solid;
    border-width: 2px;
    border-color: gray white white gray;

    padding: 4px;
    display: flex;
    flex-direction: row;
}

.counter {
    border-style: solid;
    border-width: 1px;
    border-color: gray white white gray;

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
}

.num {
    width: 13px;
    height: 23px;

    background: url("./img/score.png") 0px 0px;
}

#smile {
    width: 19px;
    height: 19px;

    border-style: solid;
    border-width: 2px;
    border-color: white gray gray white;

    box-shadow: 0px 0px 0px 1px gray;

    background-image: url("./img/smiles_nobg.png");
    background-position: 0 0;
}

/* cells */

#cells {
    border-style: solid;
    border-width: 3px;
    border-color: gray white white gray;

    flex-grow: 1;
    height: fit-content;
}

.row {
    display: flex;
}

.cell {
    width: 16px;
    height: 16px;
    background-color: #bdbdbd;

    border-style: solid;
    border-width: 2px;
    border-color: white gray gray white;
}
